.d-section {
  &__container {
    @apply flex;
    @apply flex-col-reverse;
    @apply gap-10;
    @apply max-w-screen-xl;
    @apply mx-auto;
    @apply px-4;
    @screen md {
      @apply px-8;
    }
    @screen lg {
      @apply flex-row;
    }
  }
  &__content {
    @apply w-full;
    @apply text-center;
    @screen md {
      @apply text-left;
    }
  }
  &__image-wrapper {
    @apply w-full;
    @apply max-w-[375px];
    @apply shrink-0;
    @apply mx-auto;
  }
  &__img {
    @apply w-auto;
    @apply rounded-2xl;
    @apply object-cover;
    @apply mx-auto;
    @screen lg {
      // @apply h-[550px];
    }
  }
}
