.preloader,
.loader {
  background: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  pointer-events: none;
}

.prl-logo {
  z-index: 20;
}

/* Sliders  */
.lightCyan-slider,
.persianGreen-slider,
.white-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
}
.lightCyan-slider {
  background: #ccf8e3;
  /* background: #d5f2ef; */
}

.persianGreen-slider {
  background: #33e38f;
  /* background: #03a6a6; */
}

.white-slider {
  background: #fff;
}

.hide {
  opacity: 0;
  color: #01dd73;
  > span {
    color: #0e0e0e;
  }
  /* color: #03a6a6; */
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .prl-logo {
    font-size: 1rem /* 16px */;
    line-height: 1.5rem /* 24px */;
  }
}
