@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  background-image: url('/bg-gradient-1.jpg');
  background-image: image-set(url('/bg-gradient-1.avif') type('image/avif'), url('/bg-gradient-1.jpg') type('image/jpeg'));
  &__container {
    @include d-container;
    @apply flex;
    @apply flex-col;
    @apply mb-8;
    @apply px-6;
    @apply min-h-[70svh];
    @screen lg {
      @apply flex-row;
      @apply items-center;
    }
  }
  &__image-col {
    @apply w-full;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
  &__image-wrapper {
    @apply w-full;
    @apply max-w-[565px];
  }
  &__content-col {
    @apply w-full;
    @apply py-6;
  }
  &__title {
    @apply text-3xl;
    @apply text-[var(--blue-12)];
    @apply text-center;
    @apply mx-auto;
    @screen md {
      @apply text-5xl;
    }
  }
  &__text-content {
    @apply max-w-[565px];
    @apply text-center;
    @apply mx-auto;
  }
  &__cta-wrapper {
    @apply flex;
    @apply justify-center;
  }
  // Services
  &__services-container {
    @include d-container;
    @apply px-6;
  }
  &__services-title {
    @apply text-3xl;
    @apply text-center;
    @apply text-[var(--blue-12)];
    @screen md {
      @apply text-4xl;
    }
  }
  &__services {
    @apply flex;
    @apply flex-wrap;
    @apply gap-x-6;
    @apply gap-y-10;
    @apply max-w-screen-xl;
    @apply mx-auto;
  }
  &__service {
    flex: 1 1 100%;
    @apply box-border;
  }
}
