@mixin vertical-move($distance: 17px, $duration: 3s) {
  @keyframes vertical-move {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-#{$distance});
    }
  }

  animation: vertical-move #{$duration} ease-in-out infinite;
}

@mixin horizontal-scroll($distance: 3500px, $duration: 70s) {
  @keyframes slide {
    0% {
      left: 0px;
    }
    100% {
      left: -#{$ditance};
    }
  }

  animation: slide #{$duration} linear infinite;
}
