@mixin edge-to-edge {
  @apply overflow-hidden;
  @apply w-screen;
  @apply relative;
  left: calc(-50vw + 50%);
  @screen 2xl {
    width: calc(100vw - 8px);
  }
}

@mixin d-container {
  @apply w-full;
  @apply max-w-full;
  @apply mx-auto;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
  }
}
