@use '/styles/mixin/layout.module.scss' as *;

.d-container {
  @apply z-20;
  @apply w-full;
  @apply bg-white;
  @apply shadow-md;
  @apply sticky;
  @apply top-0;
  transition: all 0.3s;
  &--enable-fixed-pos {
    @apply fixed;
  }
  &--color-white {
    .d-container__brand-name {
      @apply text-white;
    }
    .d-container__nav-link {
      @apply text-white;
      &--active {
        @apply border-b-2;
        @apply border-white;
      }
    }
  }
  &--enable-bg-transparent {
    @apply bg-transparent;
    @apply shadow-none;
  }
  &__home-page {
    .d-container__nav-link {
      @apply text-white;
      &--active {
        @apply border-b-2;
        @apply border-white;
      }
    }
  }
  &__nav {
    @include d-container;
    @apply mx-auto;
    @apply px-6;
    @apply py-4;
    @apply flex;
    @apply justify-between;
    @apply items-center;
  }
  &__brand {
    @apply flex;
    @apply items-center;
    @apply space-x-4;
  }
  &__brand-link {
    @apply flex;
    @apply items-center;
    @apply gap-2;
  }
  &__brand-name {
    @apply text-2xl;
    @apply font-bold;
    @apply text-[var(--blue-12)];
  }
  &__nav-links {
    @apply hidden;
    @screen md {
      @apply flex;
      @apply space-x-8;
    }
  }
  &__nav-link {
    @apply text-blue-12;
    @apply border-[var(--blue-12)];
    &:focus-visible {
      @apply outline-none;
    }
  }
  &__nav-link--active {
    @apply border-b-2;
  }
  &__dropdown-service-link {
    @apply text-blue-11;
    :hover {
      @apply text-blue-12;
    }
  }
  &__contact-link-wrapper {
    @apply hidden;
    @screen md {
      @apply block;
    }
  }
  &__contact-link {
    @apply bg-blue-11;
    @apply text-white;
    @apply py-3;
    @apply px-5;
    @apply rounded-md;
    @apply shadow-md;
    @apply transition-all;
    &:hover {
      @apply bg-blue-10;
      @apply shadow-lg;
    }
  }
  // Mobile styles
  &__menu-button-container {
    @apply flex;
    @apply items-center;
    @screen md {
      @apply hidden;
    }
  }
  &__menu-button {
    @apply bg-gray-100;
    @apply inline-flex;
    @apply items-center;
    @apply justify-center;
    @apply p-2;
    @apply rounded-md;
    @apply text-gray-400;
    &:hover {
      @apply text-gray-500;
      @apply bg-gray-200;
    }
    &:focus {
      @apply outline-none;
      @apply ring-2;
      @apply ring-inset;
      @apply ring-gray-300;
    }
  }
  &__mobile-menu {
    @apply hidden;
    transition: all 0.3s;
    @screen md {
      @apply hidden;
    }
    &--open {
      @apply block;
    }
  }
  &__mobile-menu-content {
    @apply fixed;
    @apply top-0;
    @apply h-full;
    @apply w-2/3;
    @apply shadow-2xl;
    @apply bg-white;
    @apply p-4;
    @apply space-y-1;
    @screen sm {
      @apply px-3;
    }
  }
  &__mobile-menu-link {
    p {
      @apply text-blue-12;
      @apply my-2;
      &:hover {
        @apply font-bold;
      }
    }
  }
  &__mobile-menu-toggle {
    @apply p-1;
    @apply border;
    @apply rounded;
    &--open {
      @apply bg-[var(--blue-11)];
      .d-container__mobile-toggle-icon {
        @apply rotate-180;
        @apply text-white;
      }
    }
  }
  &__mobile-toggle-icon {
    @apply transition-all;
    @apply duration-300;
  }
  &__services-mobile-container {
    @apply overflow-hidden;
  }
  &__services-mobile {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    @apply ease-in;
    @apply mt-[-130%];
    &--open {
      @apply mt-0;
    }
  }
  &__mobile-contact-link-wrapper {
    @apply pt-5;
  }
}
