@use '/styles/mixin/animation.module.scss' as *;

.d-container {
  @apply flex;
  @apply flex-col;
  @apply justify-start;
  @apply items-center;
  @apply rounded-2xl;
  @apply shadow-xl;
  @apply p-8;
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  @apply ease-in-out;
  &:hover {
    @apply shadow-2xl;
    .d-container__separator {
      @apply w-16;
    }
  }
  // Color styles
  &--bg-blue {
    @apply bg-[var(--blue-2)];
    .d-container__separator {
      @apply border-[var(--blue-11)];
    }
  }
  &--bg-orange {
    @apply bg-[var(--orange-2)];
    .d-container__separator {
      @apply border-[var(--orange-11)];
    }
  }
  &--bg-plum {
    @apply bg-[var(--plum-2)];
    .d-container__separator {
      @apply border-[var(--plum-11)];
    }
  }
  // Variant styles
  &--vertical {
    @apply max-w-[300px];
  }
  &--horizontal {
    @apply max-w-screen-lg;
    @apply gap-8;
    &:hover {
      .d-container__image-wrapper {
        @include vertical-move();
      }
      .d-container__separator {
        @apply w-24;
      }
    }
    @screen md {
      @apply flex-row;
      @apply p-12;
    }
    .d-container__image-col {
      @apply w-full;
      @apply h-auto;
      @screen md {
        @apply my-10;
      }
    }
    .d-container__image-wrapper {
      @apply w-full;
      @apply h-auto;
      @apply mx-auto;
    }
    .d-container__content-wrapper {
      @apply w-full;
    }
    .d-container__name {
      @screen md {
        @apply text-start;
        @apply text-3xl;
      }
    }
    .d-container__separator {
      @screen md {
        @apply mx-0;
      }
    }
    .d-container__description {
      @screen md {
        @apply text-start;
      }
    }
  }
  // Layout styles
  &--layout-reverse {
    @screen md {
      @apply flex-row-reverse;
    }
  }
  &__image-wrapper {
    @apply w-24;
    @apply h-24;
    @apply mb-4;
  }
  &__image {
    @apply w-full;
    @apply h-auto;
  }
  &__name {
    @apply text-center;
    @apply mb-4;
    @apply text-xl;
  }
  &__separator {
    @apply w-10;
    @apply border;
    @apply border-2;
    @apply mx-auto;
    @apply mb-4;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 400ms;
    @apply ease-in-out;
  }
  &__description {
    @apply text-center;
  }
}
