@screen md {
  .safearea summary {
    @apply relative;
  }

  .safearea[open] summary:hover::before {
    content: '';
    @apply absolute;
    z-index: 1;
    inset: 0 -1.5em;
    translate: -1em 0;
  }
}
