@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  @include edge-to-edge;
  @apply h-[90svh];
  @apply flex;
  @apply justify-center;
  @apply items-center;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(16, 178, 218, 1) 100%);
  &__container {
    // @apply my-20;
    @apply w-full;
    @apply max-w-screen-lg;
    @apply py-4;
    @apply mx-auto;
    @apply text-center;
  }
  &__title {
    @apply text-4xl;
    @apply text-white;
    @apply max-w-screen-lg;
    @screen md {
      @apply text-7xl;
    }
  }
  &__sub-title {
    @apply text-gray-12;
    @apply mx-auto;
    @apply max-w-screen-md;
  }
  &__cta {
    @apply cursor-pointer;
    @apply bg-white;
    @apply px-6;
    @apply py-4;
    @apply rounded-full;
    @apply shadow-2xl;
    @apply transition-all;
    @apply ease-in-out;
    &:hover {
      scale: 1.1;
    }
  }
}
