/* Override the layer order, visit https://github.com/radix-ui/themes/issues/109#issuecomment-1747345743 for more info */

@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

@tailwind components;
@tailwind utilities;

/* Theme override */
.radix-themes {
  --default-font-family: var(--font-inter) !important;
  --gs-color-primary: #5ccbe6;
}

/* Accent scale */
:root,
.light,
.light-theme {
  --blue-1: #f9fdff;
  --blue-2: #f0fbfe;
  --blue-3: #d8f8ff;
  --blue-4: #c0f2ff;
  --blue-5: #a8eafc;
  --blue-6: #8cdff5;
  --blue-7: #62d0ec;
  --blue-8: #00bce0;
  --blue-9: #00a6c8;
  --blue-10: #0098b8;
  --blue-11: #007e9a;
  --blue-12: #003e4d;

  --blue-a1: #00aaff06;
  --blue-a2: #00bbee0f;
  --blue-a3: #00d2ff27;
  --blue-a4: #00cbff3f;
  --blue-a5: #00c2f757;
  --blue-a6: #00b9e973;
  --blue-a7: #00b3e09d;
  --blue-a8: #00bce0;
  --blue-a9: #00a6c8;
  --blue-a10: #0098b8;
  --blue-a11: #007e9a;
  --blue-a12: #003e4d;

  --blue-contrast: #fff;
  --blue-surface: #ecfafecc;
  --blue-indicator: #00a6c8;
  --blue-track: #00a6c8;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --blue-1: oklch(99.2% 0.005 216.3);
      --blue-2: oklch(98% 0.012 216.3);
      --blue-3: oklch(95.8% 0.035 216.3);
      --blue-4: oklch(93.2% 0.054 216.3);
      --blue-5: oklch(90% 0.071 216.3);
      --blue-6: oklch(85.9% 0.087 216.3);
      --blue-7: oklch(80.5% 0.107 216.3);
      --blue-8: oklch(72.7% 0.144 216.3);
      --blue-9: oklch(66.1% 0.16 216.3);
      --blue-10: oklch(62.2% 0.15 216.3);
      --blue-11: oklch(54% 0.16 216.3);
      --blue-12: oklch(33.2% 0.069 216.3);

      --blue-a1: color(display-p3 0.02 0.608 1 / 0.02);
      --blue-a2: color(display-p3 0.004 0.694 0.925 / 0.051);
      --blue-a3: color(display-p3 0.008 0.761 0.973 / 0.13);
      --blue-a4: color(display-p3 0.004 0.737 0.965 / 0.208);
      --blue-a5: color(display-p3 0.004 0.686 0.933 / 0.287);
      --blue-a6: color(display-p3 0.004 0.647 0.867 / 0.377);
      --blue-a7: color(display-p3 0 0.62 0.831 / 0.502);
      --blue-a8: color(display-p3 0 0.592 0.796 / 0.671);
      --blue-a9: color(display-p3 0 0.494 0.675 / 0.71);
      --blue-a10: color(display-p3 0 0.443 0.6 / 0.738);
      --blue-a11: color(display-p3 0 0.349 0.482 / 0.789);
      --blue-a12: color(display-p3 0 0.165 0.224 / 0.91);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.937 0.976 0.992 / 0.8);
      --blue-indicator: oklch(66.1% 0.16 216.3);
      --blue-track: oklch(66.1% 0.16 216.3);
    }
  }
}

/* Gray scale */
:root,
.light,
.light-theme {
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #eff0f3;
  --gray-4: #e7e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d8d9e0;
  --gray-7: #cdced7;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80828d;
  --gray-11: #62636c;
  --gray-12: #1e1f24;

  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #00104010;
  --gray-a4: #000b3618;
  --gray-a5: #0009321f;
  --gray-a6: #00073527;
  --gray-a7: #00063332;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00051b7f;
  --gray-a11: #0002119d;
  --gray-a12: #000107e1;

  --gray-contrast: #ffffff;
  --gray-surface: #ffffffcc;
  --gray-indicator: #8b8d98;
  --gray-track: #8b8d98;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root,
    .light,
    .light-theme {
      --gray-1: oklch(99.1% 0.001 277.7);
      --gray-2: oklch(98.2% 0.003 277.7);
      --gray-3: oklch(95.6% 0.005 277.7);
      --gray-4: oklch(93.1% 0.006 277.7);
      --gray-5: oklch(91% 0.008 277.7);
      --gray-6: oklch(88.8% 0.009 277.7);
      --gray-7: oklch(85.3% 0.012 277.7);
      --gray-8: oklch(79.4% 0.016 277.7);
      --gray-9: oklch(64.6% 0.016 277.7);
      --gray-10: oklch(61% 0.016 277.7);
      --gray-11: oklch(50.3% 0.014 277.7);
      --gray-12: oklch(24.1% 0.01 277.7);

      --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
      --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
      --gray-a3: color(display-p3 0.008 0.067 0.255 / 0.063);
      --gray-a4: color(display-p3 0.012 0.051 0.216 / 0.095);
      --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
      --gray-a6: color(display-p3 0.004 0.027 0.18 / 0.153);
      --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
      --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
      --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
      --gray-a10: color(display-p3 0.004 0.02 0.098 / 0.499);
      --gray-a11: color(display-p3 0 0.008 0.059 / 0.616);
      --gray-a12: color(display-p3 0 0.004 0.027 / 0.883);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 1 1 1 / 80%);
      --gray-indicator: oklch(64.6% 0.016 277.7);
      --gray-track: oklch(64.6% 0.016 277.7);
    }
  }
}

/* Background color */
:root,
.light,
.light-theme,
.radix-themes {
  --color-background: #fff;
}
