.d-section {
  @apply relative;
  @apply w-screen;
  @apply min-h-[100px];
  @apply h-[80vh];
  @apply overflow-hidden;
  @apply flex;
  @apply justify-center;
  left: calc(-50vw + 50%);
  &:before {
    content: '';
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    z-index: 1;
  }
  &__bg-video {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
  }
  &__overlay-content {
    @apply absolute;
    @apply z-10;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-8;
    @apply w-full;
    @apply px-4;
    @apply bottom-[10%];
    @apply container;
    @apply text-white;
    @screen md {
      @apply w-9/12;
    }
  }
  &__hero-title {
    @apply flex;
    @apply flex-col;
    @apply text-white;
    span {
      @apply text-7xl;
      text-shadow: 0 0 7px var(--teal-9);
    }
  }
  &__hero-cta {
    @apply bg-white;
    @apply text-[var(--gray-12)];
    &:hover {
      @apply cursor-pointer;
      @apply bg-[var(--gray-2)];
      scale: 1.05;
      @apply transition-all;
      @apply ease-in;
    }
  }
}
