@use '/styles/mixin/layout.module.scss' as *;

.d-section {
  @apply relative;
  @apply min-h-[100px];
  @apply h-[100svh];
  @apply overflow-hidden;
  @apply flex;
  @apply justify-center;
  &:before {
    content: '';
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    @apply bottom-0;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    z-index: 1;
  }
  &__bg-video {
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply object-cover;
  }
  &__overlay-content {
    @apply absolute;
    @apply z-10;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-8;
    @apply w-full;
    @apply px-4;
    @apply bottom-[10%];
    @include d-container;
    @apply text-white;
    @screen md {
      @apply w-9/12;
    }
  }
  &__hero-title {
    @apply flex;
    @apply flex-col;
    @apply text-white;
    span {
      @apply text-4xl;
      text-shadow: 0 0 7px var(--blue-9);
      @screen md {
        @apply text-6xl;
      }
      @screen lg {
        @apply text-7xl;
      }
    }
  }
  &__subtitle-wrapper {
    @apply text-center;
  }
  &__hero-cta {
    @apply bg-white;
    @apply text-[var(--gray-12)];
    &:hover {
      @apply cursor-pointer;
      @apply bg-[var(--gray-2)];
      scale: 1.05;
      @apply transition-all;
      @apply ease-in;
    }
  }
}
